@using Course_Lms.Logic.DTO
@model List<ChapterDTO>
@{
	var sortedChapters = Model.OrderBy(chapter => chapter.Position).ToList();
	Layout = null;
}
<style>
	.chapter-card {
		display: flex;
		margin-bottom: 1rem;
		column-gap: 0.5rem;
		align-items: center;
		border-radius: 0.375rem;
		border: 1px solid rgb(227, 232, 241);
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.chapter-card-draft {
		color: rgb(51 65 85);
		background-color: rgb(237 240 245);
		border-color: rgb(226 232 240);
	}

	.chapter-card-published {
		background-color: rgb(224 242 254);
		color: hsl(198 100% 34% / 1);
		border-color: rgb(186 230 253);
	}

	.chapter-grip-icon {
		padding: 0.75rem 0.5rem;
		border-top-left-radius: 0.375rem;
		border-bottom-left-radius: 0.375rem;
		border-right: 1px solid ;
		transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 300ms;
cursor:grab;
	}

	.chapter-icon-draft {
		border-right-color: rgb(221 221 221);
	}
	.chapter-data-published:hover {
		border-right-color: rgb(186 230 253);
		background-color: rgb(186 230 253);
	}


		.chapter-icon-draft:hover {
			background-color: rgb(203 213 225);
		}

	span {
		cursor: default;
	}

	i {
		font-size: 14px;
		width: 1rem;
		height: 1rem;
		transition-property: opacity;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 300ms;
		cursor: pointer;
	}

		i:hover {
			opacity: 0.75;
		}
</style>
@foreach (var chapter in sortedChapters)
{
	<div class="chapter-card @(chapter.IsPublished?"chapter-card-published":"chapter-card-draft")" data-chapter-id="@chapter.Id">
		<div class="chapter-grip-icon @(chapter.IsPublished?"chapter-icon-published":"chapter-icon-draft")">

			<i class="bi bi-grid-3x3-gap" style="width: 1.25rem;height: 1.25rem;cursor:grab;"></i>
		</div>
		@chapter.Title
		<div class="d-flex align-items-center" style="margin-left:auto;padding-right: 0.5rem;column-gap: 0.5rem;">
			@if (chapter.IsFree)
			{

				<span class="badge rounded-pill bg-dark">Free</span>
			}
			@if (chapter.IsPublished)
			{
				<span class="badge rounded-pill" style="background-color: rgb(6, 104, 160)">Published</span>
			}
			else
			{

				<span class="badge rounded-pill bg-secondary" style="background-color: rgb(100 116 139);">Draft</span>
			}
			<a href="@Url.Action("ChapterSetup", "Chapters", new { chapterId = chapter.Id,chapter.CourseId })">
				<i class="bi bi-pencil"></i>

			</a>
		</div>
	</div>
}
